h1{
    color: white;
    display: inline;
    vertical-align: middle;
    
}
.container{
    padding-top: 20px;
    height: 100%;
    
}

.nod, body{
    background: #DADADA;
}
header{
    background:#004D40;
    height: 110px;
    padding-top: 20px;
}
header img{
    width: 70px;
    height: 70px;
    margin-left: 350px;
    background-color: white;
    border-radius: 70%;
    
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
     
}
.mt-2{
    text-align: right;
}
