h1{
    text-align: center;
    
    padding-top: 20px;
}
.container{
    padding-top: 20px;
}
header img {
    padding-top: 10px;
    width: 140px;
    height: 140px;
    margin-left: 300px;
    
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}